$dark: #222222;
$black: #4a4a4a;

$midnight: #2c3e50;
$asphalt: #34495e;

$dark-grey: #b2b2b2;
$grey: #eee;

$pale-blue: #40739e;
$red: #ba5b5b;

$green: #16a085;

$yellow: #fbc531;

$brown: #8b572a;
$purple: #6672E6;

// Page Variables
